.color-bar2 {
  margin-top: 4px;
  height: 45px;
  background: linear-gradient(270deg, var(--purple), var(--orange));
  border-radius: 15px;
}

.bubble {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(250deg, var(--purple), var(--orange));
  animation: move 55s linear infinite;
}

@keyframes move {
  0% {
  }
  100% {
    transform: translateY(200px, 800px);
  }
}

#b1 {
  animation: move 55s infinite linear;
  width: 100px;
  height: 100px;
}

#b2 {
  top: -50px;
  left: 10vw;
  animation: move 46.5s infinite linear;
}

#b3 {
  top: 620px;
  left: 30%;
}
