.contact-wrapper {
    display: flex;
    position: absolute;
    color: white;
    font-size: 5rem;
    width: 100vw;
    height: 100vh;
}

.form-wrapper {
    margin: auto;
    background: linear-gradient(to right, rgb(234, 141, 20), purple);
    /* background-color: rgb(29, 29, 29); */
    border-radius: 15px;
    padding: 2px;
    animation: appearForm 500ms linear forwards;
    
}

@keyframes appearForm {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.form-content {
    display: flex;
    background-color: rgb(29, 29, 29);
    border-radius: 12px;
    padding: 2.5rem;
    width: fit-content;
    max-height: 70vh;
    overflow-y: scroll;
    gap: 10vw;
}

.form-content::-webkit-scrollbar {
    width: 0px; /* Mostly for vertical scrollbars */
}
.form-content::-webkit-scrollbar-thumb { /* Foreground */
    background: #999;
}
.form-content::-webkit-scrollbar-track { /* Background */
    background: #333;
}

.contact-header {
    display: flex;
    flex-direction: column;
}

.profile {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10%;
    margin: 2rem 0 1rem 0;
}
.contact-title {
    background: -webkit-linear-gradient(-90deg,rgb(255, 255, 255), rgb(207, 207, 207));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8rem;
    font-family: 'Poppins';
    line-height: 2.8rem;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;
    width: fit-content;
}

.contact-info {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: rgb(100, 100, 100);
    font-weight: 500;
    width: fit-content;
    letter-spacing: 1px;
}

.contact-info a {
    color: inherit;
    text-transform: lowercase;
    text-decoration: none;
    border-bottom: 2px solid rgb(65, 65, 65);
    
}

.contact-info a:hover {
    color: rgb(196, 196, 196);
    border-color: rgb(196, 196, 196);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: auto;
    height: fit-content;
}

.contact-to {
    color: rgb(100, 100, 100);
    margin-bottom: 2rem;
}

.contact-to a {
    color: inherit;
    text-transform: lowercase;
    text-decoration: none;
    border-bottom: 2px solid rgb(65, 65, 65);
}

.contact-form input {
    background: none;
    font-size: inherit;
    font-family: inherit;
    border: solid rgb(65, 65, 65);
    border-width: 0 0 2px 0;
    min-width: 250px;
    
    padding: 0.2rem 5px;
    color: inherit;
    font-weight: inherit;
}

#textarea {
    font-size: inherit;
    font-weight: inherit;
    background: none;
    margin-top: 0.5rem;
    font-family: inherit;
    border: solid rgb(65, 65, 65);
    border-width: 2px;
    border-radius: 5px;
    resize: none;
    color: white;
}

.form-btn {
    width: fit-content;
    cursor: pointer;
    margin: 0 0 0 auto;
    border: none;
    background: none;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: inherit;
    border-radius: 20px;
    letter-spacing: 2px;
    filter: brightness(0.8);
    background: linear-gradient(to right, rgb(234, 141, 20), purple);
}

.form-btn:hover {
    filter: brightness(1);
}

.sent {
    font-size: calc(0.8em + 0.5rem);
    margin-top: auto;
    margin-left: auto;
    opacity: 0;
    animation: sentAppear 300ms linear 1s forwards;
}

@keyframes sentAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.tick {
    color: rgb(8, 159, 8);
    font-weight: 900;
}
@media only screen and (max-width: 700px) {
    .form-content {
        flex-direction: column;
        max-width: 80vw;
        padding: 2rem 5vw;
        max-height: 60vh;
    }
    .form-wrapper {
        margin: 10vh auto auto auto;
    }
    .form-content::-webkit-scrollbar {
        width: 8px;
        height: 100px; /* Mostly for vertical scrollbars */
    }
    .form-content::-webkit-scrollbar-thumb { /* Foreground */
        background: linear-gradient(to top, rgb(234, 141, 20), purple);
        border-radius: 15px;
    }
    .form-content::-webkit-scrollbar-track { /* Background */
        background: rgb(10, 10, 10);
        border-radius: 15px;
        margin: 1rem;
        height: 90px;
    }
    .form-content::-webkit-scrollbar-track-piece:end {
        background: transparent;
        
    }
}