.project-list {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    padding: 0 2%;
    box-sizing: border-box;
    z-index: 1;
    gap: 2rem;
    /* pointer-events: none; */
}
.project {
    position: relative;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 500px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.468);
    
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0.64, 0, 1.4);
    animation: appear 300ms ease-out;
    animation-iteration-count: 1;
    padding: 0.15rem;
    overflow: hidden;
    
}
.project header {
    height: 80%;
    border-radius: 20px 20px 0 0;
    background-color: rgb(29, 29, 29);
    border-bottom: none;
    transition-duration: 300ms;
    /* filter: brightness(0.5); */
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

.project-screen {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
}
.project-details {
    height: 20%;
    background-color: rgb(29, 29, 29);
    border-radius: 0 0 20px 20px;
    padding: 1% 2.5%;
    box-sizing: border-box;
    filter: blur(0px);
    color: white;
    display: flex;
    flex-direction: column;
    transition-duration: 300ms;
}

.project-title {
    font-size: 2.5rem;
    font-weight: 600;
    transition-duration: 300ms;
    /* transform: translateY(50px); */
    width: fit-content;
    margin: 0 auto;
    /* border-bottom: 2px solid white; */
}

.project-description {
    margin: 0.5rem;
    transform: translateY(150px);
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0;
}


.project:hover {
    background-color: rgba(48, 48, 48, 0.671);
    width: 450px;
    margin: 0 1rem;
   
}
.project:hover .project-description {
    display: block;
    transform: translateX(0px);
    transition-delay: 150ms;
}
.project:hover .project-title {
    transform: translateY(0px);
    border-bottom: 1px solid white;
    margin: 0 auto;
}

.project:hover .project-details {
    background-color: rgb(29, 29, 29);
    height: 40%;
}

.project:hover .project-header {
    height: 60%;
    filter: brightness(1);
}


.project::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.651) /* linear-gradient(to right, rgb(234, 141, 20), purple) */;
}

.project:hover::after {
    visibility: visible;
    background: linear-gradient(to right, rgb(234, 141, 20), purple);
}

.project-links {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

.project-links button {
    position: relative;
   /*  border: none;
    outline: 2px solid white; */
    background: linear-gradient(to right, rgb(234, 141, 20), purple);
    color: white;
    font-weight: 500;
    border-radius: 20px;
    padding: 0.2rem 0.7rem;
    font-family: inherit;
    font-size: 0.9rem;
    cursor: pointer;
    letter-spacing: 0.5px;
    box-sizing: content-box;
    margin-left: 0.2rem;
    filter: brightness(0.8);
    z-index: 2;
    border: 0;
}

.project-links button:hover {
    /* background: linear-gradient(to right, rgb(234, 141, 20), purple); */
    /* outline: none; */
    filter: brightness(1);
    outline: 2px solid aliceblue;
}

/* .project-links button::before {
    border-radius: 20px;
    position: absolute;
    content: '';
    top: -1px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to right, rgb(234, 141, 20), purple);
    visibility: visible;
    z-index: -1;
}

.project-links button:hover::after {
    border: 2px solid white;
} */

.project-links a {
    display: flex;
    text-decoration: none;
}
.project-links img {
    height: 24px;
    width: 24px;
    margin: auto;
    filter: brightness(0.7);
}

.project-links img:hover {
    filter: brightness(1);
    animation: rotate 300ms ease-in;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(40deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes appear {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}