@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

:root {
  --main-color: white;
  --purple: #ae00ff;
  --orange: #d36a2d;
  --blue: rgb(0, 17, 255);
}
.App {
  position: relative;
  text-align: center;
  background: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  font-family: 'Poppins', sans-serif;
}

/* .color-bar {
  height: 45px;
  background: linear-gradient(270deg, var(--purple), var(--orange));
  display: flex;
  z-index: 0;
  display: none;
}



.color-bar span {
  margin: auto;
  color: white;
  font-size: 16px;
} */

.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 7vh;
  opacity: 0;
  padding: 0px 15% 0px 10%;
  color: white;
  display: flex;
  animation: appearNav 500ms linear 2s forwards;
  z-index: 1;
 /*  justify-content: space-between; */
  background-color: rgba(40, 40, 40, 0.5);
  backdrop-filter: blur(5px);
}



.navbar span {
  margin: auto 0;
  box-sizing: border-box;
  font-size: 28px;
}

.navbar-contact {
  color: var(--main-color);
  padding: 0 1rem;
  margin: auto 0;
  background: none;
  outline: none;
  border: none;
  font-size: 22px;
  border-radius: 15px;
  border: 2px solid var(--main-color);
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;
  justify-self: end;
  align-self: end;
  transition: all 0.3s;
}

.navbar-contact:hover {
  background-color: var(--main-color);
  color: black;
  transition: all 0.3s;
}

.navbar-logo {
  cursor: pointer;
  user-select: none;
}

.navbar-links {
  margin: auto 0 auto auto;
  display: flex;
}

.navbar a {
  display: flex;
  margin: auto;
}

.contact-link {
  height: 32px;
  filter: saturate(0);
}

.contact-link:hover {
  filter: saturate(1);
  transition-duration: 200ms;
}

#github {
  margin: auto 0 auto auto;
  padding: 0.3rem;
  box-sizing: border-box;
}

.coming-soon {
  filter: blur(5px);
}


#github:hover {
  animation: rotate 300ms ease-in;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(40deg);
  }
  100% {
      transform: rotate(0deg);
  }
}
#linkedin {
  margin: auto;
}

.main {
  margin: auto;
  position: absolute;
  width: 100vw;
  height: 100vh
  /* margin-top: 10vh; */
  /* background-color: rgb(29, 29, 29) */;
  display: flex;
  flex-direction: column;
  z-index: 1;
  pointer-events: none;
}

.greeting {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgba(62, 62, 62, 0.455);
 /*  background: linear-gradient(135deg, rgba(255, 255, 255, 0.078), rgba(255, 255, 255, 0)) ;    */
  backdrop-filter: blur(25px);
 /*  border: 3px solid rgba(255, 255, 255, 0.311); */
  border-radius: 10px;
  max-width: 90%;
  opacity: 0;
  padding-bottom: 1rem;
  animation: appearNav 500ms linear 2s forwards;
  /* animation: greetAppear 200ms ease-out forwards; */
  opacity: 0;
  /* animation-delay: 150ms; */
  /* border: 1px solid rgba(255, 255, 255, 0.096) */
  /* box-shadow: 5px 5px 15px 5px #adadad; */
  /* outline: 1px solid white */;
}

.greeting:hover {
  border: 3px solid rgb(146, 146, 146);
}

@keyframes greetAppear {
  from {
    transform: scale(0.5);
    opacity: 0.2;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.greeting .title {
  font-size: 6.5rem;
  background: -webkit-linear-gradient(-90deg,rgb(255, 255, 255), rgb(207, 207, 207));
  background-clip: text;
  /* border-bottom: 3px solid rgba(128, 128, 128, 0.442); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 1rem;
  
}

.greeting .details {
  border-top: 3px solid rgba(128, 128, 128, 0.442);
  color: rgb(189, 189, 189);
  padding: 0.5rem 0;
  margin: 0 5%;
  /* padding: 0 2%; */
  width: fit-content;
}





.svg-blur {
  visibility: hidden;
  height: 0;
  width: 0;
}

.control-panel {
  background-color: rgba(50, 50, 50, 0.5);
  /* width: 30%; */
  border-radius: 8px;
  /* background-color: rgb(255, 255, 255); */
  margin: auto auto 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: content-box;
  align-items: center;
  backdrop-filter: blur(5px);
  outline: 1px solid rgb(255, 255, 255);
  opacity: 0;
  animation: appearNav 500ms linear 2s forwards;
  animation-iteration-count: 1;
  overflow: hidden;
}
.control-panel a {
  flex: 1;
  opacity: 0;
  animation: panel-appear 1.5s ease-out 2s forwards;
  padding: 0.4rem 2rem; 
  margin: 0;
  color: white;
  text-decoration: none;
 /*  width: 50%; */
  height: 100%;
  display: flex;
  transition-duration: 200ms;
}

/* .control-panel a:first-of-type {
  border-radius: 20px 0 0 20px;
}
.control-panel a:last-of-type {
  border-radius: 0 20px 20px 0;
} */

.link-active {
  background:white;
  color: white;
}

.link-active span {
  color: black;
}

@keyframes panel-appear {
  0% {
    padding: 0.4rem 0rem;
    opacity: 0;
  }

  40% {
    padding: 0.4rem 0rem;
  }

  60% {
    opacity: 0;
  }

  100%{
    padding: 0.4rem 2rem;
    opacity: 1;
  }
}

.control-text {
  margin: auto;
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
  /* animation: control-text-appear 1.5s ease-out; */
  animation-iteration-count: 1;
}


@keyframes control-text-appear {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearNav {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media screen and (max-width: 500px) {
  .App {
    justify-content: space-between;
  }

  /* .main {
    margin-bottom: 3rem;
  } */

  .navbar {
    padding-right: 0.5rem;
  }

  .navbar-contact {
    height: 46px;
    font-size: 1.2rem;
    padding: 0 0.5rem;
    border-radius: 20px;
  }

  .control-panel{
    width: 90%;
  }

  .control-panel a {
    padding: 0.4rem 0;
  }

  .greeting .title {
    font-size: 4rem;
  }

  .greeting .details {
    font-size: 1rem;
  }

  @keyframes panel-appear {
    0% {
      width: 5%;
      opacity: 0;
    }
  
    35% {
      width: 5%;
      opacity: 0.6;
    }
  
    100%{
      width: 100%;
      opacity: 1;
    }
  }
}

@media screen and (min-width: 1800px) {
  .greeting .title {
    font-size: 9rem;
  }
  
}

@media screen and (max-width: 625px) {
  .project-list {
    gap: 0.5rem;
  }
}